{{define "page"}}
<div id="admin-content">
    <div id="config">
        <div class="dashboard-row">
            <div class="dashboard-column">
                <div class="dashboard-box">
                        <h1>Configuration</h1>
                        <ul>
                            <li>
                                <label for="name">Name:</label>
                                <textarea id="name" name="name">{{.GlobalConfig.Name}}</textarea>
                            </li>
                            <li>
                                <label for="description">Description:</label>
                                <textarea id="description" name="description">{{.GlobalConfig.Description}}</textarea>
                            </li>
                            <li>
                                <label for="fork">Fork:</label>
                                <textarea id="fork" name="fork">{{.GlobalConfig.Fork}}</textarea>
                            </li>
                            <li>
                                <label for="minecraft">Minecraft:</label>
                                <textarea id="minecraftip" name="minecraft">{{.GlobalConfig.MinecraftIP}}</textarea>
                            </li>
                            <li>
                                <label for="port">Minecraft Port:</label>
                                <textarea id="minecraftport" name="port">{{.GlobalConfig.MinecraftPort}}</textarea>
                            </li>
                        </ul>
                        <button onclick="saveConfig()">Save</button>
                           <script>
                        function saveConfig() {
                            var name = document.getElementById("name").value;
                            var description = document.getElementById("description").value;
                            var fork = document.getElementById("fork").value;
                            var minecraftip = document.getElementById("minecraftip").value;
                            var minecraftport = document.getElementById("minecraftport").value;
                        
                            var formData = new FormData();
                            formData.append("name", name);
                            formData.append("description", description);
                            formData.append("fork", fork);
                            formData.append("minecraftip", minecraftip);
                            formData.append("minecraftport", minecraftport);
                        
                            var xhr = new XMLHttpRequest();
                            xhr.open("POST", "/admin/config", true);
                            xhr.send(formData);
                            xhr.onreadystatechange = function() {
                                if (xhr.readyState == 4 && xhr.status == 200) {
                                    alert("Configuration saved.");
                                }
                            }
                        }
                        </script>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #config {
        margin: 0 auto;
        width: 80%;
        margin-top: 1.7rem;
    }
    #config ul {
        list-style-type: none;
        padding: 0;
    }
    #config li {
        margin-bottom: 1rem;
    }
    #config label {
        display: block;
        margin-bottom: 0.5rem;
    }
    #config textarea {
        width: 60%;
        height: 30px;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    #config button {
        padding: 0.5rem 1rem;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    #config button:hover {
        background-color: #218838;
    }
</style>
{{end}}