{{define "page"}}
<div id="admin-content">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div id="dashboard">
    <div class="dashboard-card">
        <h2>System Stats</h2>
        <div class="dashboard-card-content">
            <canvas id="cpu-usage"></canvas>
            <canvas id="memory-usage"></canvas>
            <canvas id="disk-usage"></canvas>
        </div>
    </div>
    <div class="dashboard-card">
        <h2>Board Stats</h2>
        <div class="dashboard-card-content">
            <canvas id="total-posts"></canvas>
            <canvas id="total-users"></canvas>
            <canvas id="total-bans"></canvas>
        </div>
    </div>
</div>

</div>
    <script>
        const statfetch = "/api/admin/stats";
        const cpuUsage = document.getElementById('cpu-usage').getContext('2d');
        const memoryUsage = document.getElementById('memory-usage').getContext('2d');
        const diskUsage = document.getElementById('disk-usage').getContext('2d');
        const totalPosts = document.getElementById('total-posts').getContext('2d');
        const totalUsers = document.getElementById('total-users').getContext('2d');
        const totalBans = document.getElementById('total-bans').getContext('2d');
    
        fetch(statfetch)
            .then(response => response.json())
            .then(data => {
                new Chart(cpuUsage, {
                    type: 'doughnut',
                    data: {
                        labels: ['Used', 'Free'],
                        datasets: [{
                            label: 'CPU Usage',
                            data: [data.cpu_usage, 100 - data.cpu_usage],
                            backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)'
                            ],
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                display: true,
                                text: 'CPU Usage'
                            }
                        }
                    }
                });
    
                new Chart(memoryUsage, {
                    type: 'doughnut',
                    data: {
                        labels: ['Used', 'Free'],
                        datasets: [{
                            label: 'Memory Usage',
                            data: [data.ram_usage, 100 - data.ram_usage],
                            backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)'
                            ],
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                display: true,
                                text: 'Memory Usage'
                            }
                        }
                    }
                });
    
                new Chart(diskUsage, {
                    type: 'doughnut',
                    data: {
                        labels: ['Used', 'Free'],
                        datasets: [{
                            label: 'Disk Usage',
                            data: [data.binary_size, data.hdd_total - data.binary_size],
                            backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)'
                            ],
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                display: true,
                                text: 'Disk Usage'
                            }
                        }
                    }
                });
    
                new Chart(totalPosts, {
                    type: 'bar',
                    data: {
                        labels: ['Posts'],
                        datasets: [{
                            label: 'Total Posts',
                            data: [data.all_time_post_count],
                            backgroundColor: [
                                'rgb(255, 99, 132)'
                            ],
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                display: true,
                                text: 'Total Posts'
                            }
                        }
                    }
                });
    
                new Chart(totalUsers, {
                    type: 'bar',
                    data: {
                        labels: ['Users'],
                        datasets: [{
                            label: 'Total Users',
                            data: [data.user_count],
                            backgroundColor: [
                                'rgb(54, 162, 235)'
                            ],
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                display: true,
                                text: 'Total Users'
                            }
                        }
                    }
                });
    
                new Chart(totalBans, {
                    type: 'bar',
                    data: {
                        labels: ['Bans'],
                        datasets: [{
                            label: 'Total Bans',
                            data: [data.total_ban_count],
                            backgroundColor: [
                                'rgb(255, 99, 132)'
                            ],
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                display: true,
                                text: 'Total Bans'
                            }
                        }
                    }
                });
            })
            .catch(error => console.error('Error fetching stats:', error));
    </script>
    <style>

        canvas {
max-width: 100px;
max-height: 200px;
        }

        #dashboard {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 20px;
        }

        .dashboard-card {
            background-color: #252525;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
        }

        .dashboard-card-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    </style>
    {{end}}