{{define "content"}}
<div id="terms">
    <h1>Terms of Service</h1>
    <p>Welcome to achan. By accessing or using our website, you agree to be bound by the following terms and conditions. Please read them carefully.</p>
    
    <h2>1. Acceptance of Terms</h2>
    <p>By accessing or using achan, you agree to comply with and be bound by these Terms of Service and our <a href="#privacy-policy">Privacy Policy</a>. If you do not agree to these terms, please do not use our website.</p>
    
    <h2>2. User Responsibilities</h2>
    <p>You are responsible for your own conduct and any content you post on achan. You agree not to:</p>
    <ul>
        <li>Post content that is illegal, defamatory, abusive, or otherwise objectionable.</li>
        <li>Harass, threaten, or intimidate other users.</li>
        <li>Violate any applicable laws or regulations.</li>
        <li>Engage in any activity that disrupts or interferes with the operation of the site.</li>
    </ul>
    
    <h2>3. Content Ownership</h2>
    <p>All content posted on achan remains the property of the original creator. By posting content, you grant achan a non-exclusive, royalty-free license to use, display, and distribute such content on our site.</p>
    
    <h2>4. Moderation and Enforcement</h2>
    <p>achan reserves the right to moderate content and enforce these Terms of Service. We may remove or edit content that violates our policies or is deemed inappropriate at our sole discretion.</p>
    
    <h2>5. Disclaimers and Limitation of Liability</h2>
    <p>achan is provided on an "as-is" and "as-available" basis. We make no warranties or representations regarding the availability, accuracy, or reliability of the site. We are not liable for any damages arising from your use of the site or inability to use it.</p>
    
    <h2>6. Changes to Terms</h2>
    <p>We may update these Terms of Service from time to time. Changes will be posted on this page, and your continued use of the site after such changes constitutes your acceptance of the new terms.</p>
    
    <h2>7. Contact Us</h2>
    <p>If you have any questions or concerns about these Terms of Service, please contact us at <a href="mailto:support@achan.moe">support@achan.moe</a>.</p>
    
</div>
<style>
    #terms {
        border-top: 5px solid #494949;
        border-left: 1px solid #494949;
        border-right: 1px solid #494949;
        border-bottom: 1px solid #494949;
        margin-top: 1.7rem;
        background-color: #1b1b1b7a;
        margin: 0 auto;
        padding: 20px;
        width: 80%;
        color: white;
        text-align: left;
    }
    h1 {
        color: #38a5ee;
    }
    h2 {
        color: #38a5ee;
    }
    p {
        color: white;
    }
    strong {
        color: #38a5ee;
    }
    

</style>
{{end}}