*.db
*.sqlite
*.sqlite3
*.env
*.log
sitemap.xml
.env
*.pem
*.key
*.csr
*.crt
*.gob
*.zip
*.tar.gz
*.tar
*.gz
*.log
*.log.*
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.ico
*.txt
*.webm
*.mp4
*.mp3
*.wav
*.ogg
*.flac
*.avi
*.mov
*.wmv
*.flv
*.mkv