{{define "content"}}
<div id="top-content">
    <h1>/{{.BoardID}}/</h1>
    <h2>{{.BoardDesc}}</h2>
</div>
<div class="banners">
<img src="/banner/{{.BoardID}}" alt="Banner">
        <img src="https://placehold.co/400x60" alt="Banner">
</div>
<br>
    <a href="#" onclick="loadForm(); return false;" class="createpost">Create Thread</a>
    <fieldset class="reply">
        <form action="/board/{{.BoardID}}" method="post" enctype="multipart/form-data" id="threadform">
            <div>
            <select name="country" id="country">
                <option value="{{.Country}}">{{.Country}}</option>
                <option value="Anonymous">Anonymous</option>
                <option value="User">User</option>
            </select><br><br>
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" maxlength="30" required><br><br>
            <label for="author">Username:</label>
            <input type="text" id="author" name="author" value="Anonymous"><br><br>
            </div>
            <label for="content">Post:</label>
            <textarea id="content" name="content" rows="4" maxlength="200" required></textarea><br><br>
            <div id="options">
            <label for="isAnonymous">Anon:</label>
            <input type="checkbox" id="isAnonymous" name="isAnonymous"><br><br>
            {{if .IsAdmin}}
            <label for="isSticky">Sticky:</label>
            <input type="checkbox" id="isSticky" name="isSticky"><br><br>
            <label for="isLocked">Locked:</label>
            <input type="checkbox" id="isLocked" name="isLocked"><br><br>
            {{else if .IsJanny}}
            <label for="isSticky">Sticky:</label>
            <input type="checkbox" id="isSticky" name="isSticky"><br><br>
            <label for="isLocked">Locked:</label>
            <input type="checkbox" id="isLocked" name="isLocked"><br><br>
            {{end}}
            
            <label for="image">Image:</label>
            
            <input type="file" id="image" name="image" accept="image/*" required><br><br>
            </div>
            
            <a href="#" id="submitthread" return false;>Submit</a>
        </form>
        <script>
            //axios for form submission
            document.getElementById('submitthread').addEventListener('click', function() {
                const threadform = document.getElementById('threadform'); // Select the form with the specific ID
                const threadformData = new FormData(threadform);
                axios.post(threadform.action, threadformData)
                    .then(response => {
                        location.reload(); // Reload the page to see the new thread
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });
        </script>
    </fieldset>

    <script>
        const loadForm = () => {
            const form = document.querySelector('.reply');
            if (form.style.display === 'flex') {
                form.style.display = 'none';
            } else {
                form.style.display = 'flex';
            }
        }
    </script>
<div id="options">
    <a href="/board/{{.BoardID}}">Refresh</a>
</div>
<hr>
<fieldset id="threads">
    <ul>
        {{if .IsAdmin}}
            <!-- Render sticky threads first for admin -->
            {{range .Threads}}
                {{if .Sticky}}
                <li class="sticky">
                    <a href="/board/{{.BoardID}}/{{.ThreadID}}">
                    <img src="/thumb/{{.ThumbURL}}" alt="Image">
                    <span class="subject">{{.Subject}}</span>
                    <p>{{.PartialContent}}</p>
                    <span class="postcount">{{.PostCount}} / 300</span>
                    </a>
                </li>
                {{end}}
            {{end}}
            <!-- Render non-sticky threads -->
            {{range .Threads}}
                {{if not .Sticky}}
                <li>
                    <a href="/board/{{.BoardID}}/{{.ThreadID}}">
                        <img src="/thumb/{{.ThumbURL}}" alt="Image">
                        <span class="subject">{{.Subject}}</span>
                        <p>{{.PartialContent}}</p>
                        <span class="postcount">{{.PostCount}} / 300</span>
                        </a>
                </li>
                {{end}}
            {{end}}
        {{else}}
            <!-- Render sticky threads first for non-admin -->
            {{range .Threads}}
                {{if .Sticky}}
                <li class="sticky">
                    <a href="/board/{{.BoardID}}/{{.ThreadID}}">
                        <img src="/thumb/{{.ThumbURL}}" alt="Image">
                        <span class="subject">{{.Subject}}</span>
                        <p>{{.PartialContent}}</p>
                        <span class="postcount">{{.PostCount}} / 300</span>
                        </a>
                </li>
                {{end}}
            {{end}}
            <!-- Render non-sticky threads -->
            {{range .Threads}}
                {{if not .Sticky}}
                <li>
                    <a href="/board/{{.BoardID}}/{{.ThreadID}}">
                        <img src="/thumb/{{.ThumbURL}}" alt="Image">
                        <span class="subject">{{.Subject}}</span>
                        <p>{{.PartialContent}}</p>
                        <span class="postcount">{{.PostCount}} / 300</span>
                        </a>
                </li>
                {{end}}
            {{end}}
        {{end}}


    </ul>
</fieldset>
<div id="cirno">
    <img src="/assets/cirno.png" alt="Cirno">
</div>
<style>
    .postcount {
        color: #AAF;
        font-size: 0.8rem;
    }
    .createpost {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 200px;
        text-align: center;
        padding: 10px;
        background-color: #494949;
        border: 1px solid #1a1a1a;
        color: #AAF;
        text-decoration: none;
    }
    .createpost:hover {
        background-color: #1a1a1a;
    }
    
    #top-content {
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 50%;
    }

    #top-content hr {
        width: 100%;
    }
    #top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #top-nav a {
        text-decoration: none;
        color: #AAF;
        padding: 5px;
    }
    .subject {
        font-weight: bold;
        color: #AAF;
    }

    #threads {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        padding: 15px;
        margin: 0;
        border: 0;
    }
    #threads ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;

    }
    #threads li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid #1a1a1a;
        margin: 5px;
        padding: 5px;

        border-top: 5px solid #494949;
        border-left: 1px solid #494949;
        border-right: 1px solid #494949;
        border-bottom: 1px solid #494949;

        background-color: #1b1b1b7a;
            width: 200px;
            height: 250px;
    }
    
    #threads li a p {
        color: rgb(58, 58, 110);
    }
    #threads li a span {
        color: rgb(255, 255, 255);
    }
    #threads a {
        text-decoration: none;
        color: rgb(16, 197, 128);
        padding: 5px;

    }

    .sticky a {
        border-top: 5px solid #ffd000 !important;
    }
    #threads a:hover {
        border-top: 5px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    }

    #threads img {
        max-height: 150px;
        max-width: 150px;
    }

    #options {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 30%;
        margin: 0 auto;
    }
    .banners {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 1.7rem;
        margin-bottom: 1.7rem;
    }
    .banners {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 50%;
    }
    .banners img {
        max-height: 150px;;
    }

    #cirno {
        position: fixed;
        bottom: 0;
        right: 0;
    }
    #cirno img {
        max-width: 100px;
        max-height: 100px;
    }

    #options a {
        text-decoration: none;
        color: rgb(0, 225, 255);
        padding: 5px;
    }
    #options a:hover {
        text-decoration: underline;
    }

    .banners img {
        margin: 10px;
    }
</style>

{{end}}