{{define "content"}}
    <div class="container">
    <form action="/board/{{.BoardID}}" method="post" enctype="multipart/form-data">
        <div>
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required><br><br>
        <label for="author">Username:</label>
        <input type="text" id="author" name="author" value="Anonymous"><br><br>
        </div>
        <label for="content">Post:</label>
        <textarea id="content" name="content" required></textarea><br><br>
        <div id="options">
        {{if .IsAdmin}}
        <label for="isSticky">Sticky:</label>
        <input type="checkbox" id="isSticky" name="isSticky"><br><br>
        <label for="isLocked">Locked:</label>
        <input type="checkbox" id="isLocked" name="isLocked"><br><br>
        {{else if .IsJanny}}
        <label for="isSticky">Sticky:</label>
        <input type="checkbox" id="isSticky" name="isSticky"><br><br>
        <label for="isLocked">Locked:</label>
        <input type="checkbox" id="isLocked" name="isLocked"><br><br>
        {{end}}
        
        <label for="image">Image:</label>
        
        <input type="file" id="image" name="image" accept="image/*" required><br><br>
        </div>
        
        <button type="submit">Submit Post</button>
    </form>
    </div>
<fieldset id="threads">
    <ul>
        {{if .IsAdmin}}
            <!-- Render sticky threads first for admin -->
            {{range .Threads}}
                {{if .Sticky}}
                <li class="sticky">
                    <a href="/board/{{.BoardID}}/{{.ThreadID}}" target="_blank">
                    <img src="/img/{{.BoardID}}/{{.ImageURL}}" alt="Image">
                    <span class="subject">{{.Subject}}</span>
                    <p>{{.PartialContent}}</p>
                    <span>{{.Timestamp}}</span></a>
                </li>
                {{end}}
            {{end}}
            <!-- Render non-sticky threads -->
            {{range .Threads}}
                {{if not .Sticky}}
                <li>
                    <a href="/board/{{.BoardID}}/{{.ThreadID}}" target="_blank">
                        <img src="/img/{{.BoardID}}/{{.ImageURL}}" alt="Image">
                        <span class="subject">{{.Subject}}</span>
                        <p>{{.PartialContent}}</p>
                        <span>{{.Timestamp}}</span></a>
                </li>
                {{end}}
            {{end}}
        {{else}}
            <!-- Render sticky threads first for non-admin -->
            {{range .Threads}}
                {{if .Sticky}}
                <li class="sticky">
                    <a href="/board/{{.BoardID}}/{{.ThreadID}}" target="_blank">
                        <img src="/img/{{.BoardID}}/{{.ImageURL}}" alt="Image">
                        <span class="subject">{{.Subject}}</span>
                        <p>{{.PartialContent}}</p>
                        <span>{{.Timestamp}}</span></a>
                </li>
                {{end}}
            {{end}}
            <!-- Render non-sticky threads -->
            {{range .Threads}}
                {{if not .Sticky}}
                <li>
                    <a href="/board/{{.BoardID}}/{{.ThreadID}}" target="_blank">
                        <img src="/img/{{.BoardID}}/{{.ImageURL}}" alt="Image">
                        <span class="subject">{{.Subject}}</span>
                        <p>{{.PartialContent}}</p>
                        <span>{{.Timestamp}}</span></a>
                </li>
                {{end}}
            {{end}}
        {{end}}


    </ul>
</fieldset>
<style>
    .subject {
        font-weight: bold;
        color: #AAF;
    }
    #board {
        display: flex;
        align-items: center; /* Vertically center the content */
        justify-content: center; /* Horizontally center the content */
        flex-direction: column; /* Stack the content vertically */
        margin: 0 auto; /* Center the fieldset */
        width: 50%; /* Adjust as necessary */
    }
    #threads {
        display: flex;
        list-style-type: none;
        padding: 15px;
        margin: 0;
        border: 0;
    }
    #threads ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;

    }
    #threads li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #1a1a1a;
        margin: 10px;
        padding: 10px;
    }
    #threads li a p {
        margin: 10px;
        color: #AAF;
    }
    #threads a {
        text-decoration: none;
        color: rgb(16, 197, 128);
        padding: 5px;

    }
    #threads a:hover {
        text-decoration: underline;
    }

    #threads img {
        max-height: 300px;
    }

    #threads img:hover {
        cursor: pointer;
        max-height: 600px;
    }

    #options {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 30%;
        margin: 0 auto;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: left;
        border: 1px solid #181818;
    }
    form label {
        color: #AAF;
    }
    form input {
        background-color: rgb(26, 26, 26);
        color: #035d79;
        border: 1px solid #035d79;
        margin: 5px;
    }
    form textarea {
        background-color: rgb(26, 26, 26);
        color: #035d79;
        border: 1px solid #035d79;
    }
    form button {
        background-color: #035d79;
        color: rgb(26, 26, 26);
        border: 1px solid #035d79;
        width: 50%;
        margin: 0 auto;
    }
</style>

{{end}}