{{define "content"}}
<div id="contact">
    <h1>Contact Us</h1>
    
    <strong>admin@achan.moe</strong>

</div>
<style>
    #contact {
        border-top: 5px solid #024877;
        border-left: 1px solid #024877;
        border-right: 1px solid #024877;
        border-bottom: 1px solid #024877;
        background-color: #1b1b1b7a;
        margin: 0 auto;
        padding: 20px;
        width: 80%;
        color: white;
        text-align: left;
    }
    h1 {
        color: #38a5ee;
    }
    p {
        color: white;
    }
    strong {
        color: #62ee38;
    }
</style>
{{end}}