{{define "content"}}
<div id="donate">
    <h1>Donate</h1>
    <p>Thank you for considering donating to achan.moe! Your donations help keep the site running and allow us to continue providing the best experience possible.</p>
    <p>Donations are accepted via Stripe. Please click the button below to donate.</p>
    <div id="donate-button">
        <a href="https://donate.stripe.com/8wM7uj1jbfQRfnOfYY" target="_blank">Donate</a>
    </div>
    <p>Thank you for your support!</p>
</div>

<style>
    #donate {
        margin: 0 auto;
        text-align: center;
        width: 50%;
    }

    #donate-button {
        margin-top: 20px;
    }

    #donate-button a {
        background-color: #1b1b1b;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
    }

    #donate-button a:hover {
        background-color: #333;
    }

    #donate p {
        margin-top: 20px;
    }
</style>
{{end}}