{{define "content"}}
<div id="donate">
    <h1>Donate</h1>
    <p>Thank you for considering donating to achan.moe! Your donations help keep the site running and allow us to continue providing the best experience possible.</p>
    <iframe src="https://nowpayments.io/embeds/donation-widget?api_key=7M56W18-WG04VZQ-N166B9D-XMMGVTX" width="348" height="623" frameborder="0" scrolling="no" style="overflow-y: hidden;">
        Can't load widget
     </iframe>
</div>

<style>
    #donate {
        margin: 0 auto;
        text-align: center;
        width: 50%;
    }

    #donate-button {
        margin-top: 20px;
    }

    #donate-button a {
        background-color: #1b1b1b;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
    }

    #donate-button a:hover {
        background-color: #333;
    }

    #donate p {
        margin-top: 20px;
    }
</style>
{{end}}