
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error {{ .code }}</title>
</head>
<body>
    <h1>Error {{ .code }}</h1>
    <p id="message"></p>
    <a href="/">Go back to home</a>
    <script>
        const code = {{ .code }};

        const messageElement = document.getElementById('message');

        let messageText = '';
        switch (code) {
            case 404:
                messageText = 'Page not found';
                break;
            case 500:
                messageText = 'Internal server error';
                break;
            default:
                messageText = 'Unknown error';
                break;
        }

        messageElement.textContent = messageText;
    </script>
</body>
</html>