{{define "content"}}
    <fieldset id="home">
        <legend>Welcome, {{.IP}}</legend>
        <div id="homecontainer">
            <div id="homeleft">
                <ul id="news">
                    <h3>News</h3>
                    {{range .News}}
                    <li><span class="newstitle">{{.Title}}</span>
                    <p class="newscontent">{{.Content}}</p>
                    <span class="newsdate">{{.Date}}</span>
                    </li>
                    {{end}}
                </ul>
            </div>

            <div id="homeright">
        <div id="rules">
        <h3>Rules</h3>
        <ol>
            <li>No illegal content.</li>
            <li>No spamming.</li>
            <li>No doxxing.</li>
            <li>No flooding.</li>
            <li>No impersonation.</li>
            <li>No off-topic posts.</li>
            <li>No advertising.</li>
        </ol>
        </div>
        <div id="minecraft">
            <h3>Join our Minecraft server!</h3>
            <p>Server IP: {{.GlobalConfig.MinecraftIP}}:{{.GlobalConfig.MinecraftPort}}</p>
            <p>Version: <span id="mcversion"></span></p>
            <span><span id="mcplayers"></span>/<span id="mcmaxplayers"></span> players online</span>
        </div>
        <script>
            const url = "/api/minecraft";
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("mcversion").innerText = data.Version;
                    document.getElementById("mcplayers").innerText = data.Players;
                    document.getElementById("mcmaxplayers").innerText = data.MaxPlayers;
                });
        </script>
        </div>
        </div>
        <style>
            #homeleft {
                width: 30%;
                margin: 0 auto;
            }
            #homeleft h3 {
                text-align: center;
                color: #02ff6b;
            }
            #homeleft ul {
                list-style-type: none;
                padding: 15px;
                margin: 0;
            }
            #homeleft li {
                margin: 10px 0;
                padding: 10px;
                border: 1px solid #494949;
                border-radius: 5px;
                background-color: #2b2b2b;
            }
            #homeleft li:hover {
                background-color: #3b3b3b;
            }
            #homeleft .newstitle {
                font-weight: bold;
                color: #02ff6b;
            }
            #homeleft .newscontent {
                color: #ccc;
            }
            #homeleft .newsdate {
                font-size: 0.8em;
                color: #999;
            }

            #news {
                max-height: 300px;
                overflow: scroll;
            }
            #homeright {
                width: 60%;
                margin: 0 auto;
            }

            #rules {
                padding: 15px;
            }

            #rules h3 {
                text-align: center;
                color: #02ff6b;
            }

            #rules ol {
                padding-left: 20px;
            }
        </style>
        <br>
        <hr>
        <br>
            <div id="badges">
                <a href="https://liberapay.com/sevensrequiem/donate" target="_blank"><img src="https://img.shields.io/liberapay/receives/sevensrequiem.svg?logo=liberapay"></a>
                <img src="https://img.shields.io/github/commit-activity/w/sevensrequiem/achan.moe">
                <img src="https://img.shields.io/github/last-commit/sevensrequiem/achan.moe">
                <img src="https://img.shields.io/github/languages/top/sevensrequiem/achan.moe">
                <img src="https://img.shields.io/github/repo-size/sevensrequiem/achan.moe">
                <img src="https://img.shields.io/github/downloads/sevensrequiem/achan.moe/total">
            </div>
    </fieldset>
        <br>
    <fieldset id="boards">
        <span>
            All posts are the responsibility of the poster. Please report any posts you see breaking the rules.
        </span>
        <legend>Boards</legend>
        <ul>
            {{range .Boards}}
                <li><a href="/board/{{.BoardID}}">/{{.BoardID}}/</a> - {{.Description}}</li>
            {{end}}
        </ul>
    </fieldset>
    <br>
    <fieldset id="stats">
        <legend>Stats</legend>
        <p>Posts: <span class="data">{{.PostCount}}</span></p>
        <p>Users: <span class="data">{{.UserCount}}</span></p>
        <p>Total Content: <span class="data">{{.TotalSize}} MB</span></p>
        <p>Visits: <span class="data">{{.Hits}}</span></p>
    </fieldset>
    <br><br>
<fieldset id="latest">
    <legend>Latest Threads</legend>
    <ul>
        {{range .LatestPosts}}
            {{if .Subject}}
            <li>
                <span class="recent-board">/{{.BoardID}}/</span>
                <a href="/board/{{.BoardID}}/{{.ThreadID}}" >
                {{if .ImageURL}}
                <img src="/thumb/{{.ImageURL}}" alt="Image" class="postfile">
                {{end}}
                <span class="subject">{{.Subject}}</span>
                <p>{{.PartialContent}}</p>
                <span class="timestamp">{{.Timestamp}}</span></a>
            </li>
            {{else}}
            <li>
                <span class="recent-board">/{{.BoardID}}/</span>
                <a href="/board/{{.BoardID}}/{{.ThreadID}}" >
                {{if .ImageURL}}
                <img src="/thumb/{{.ImageURL}}" alt="Image" class="postfile">
                {{end}}
                <p>{{.PartialContent}}</p>
                <span class="timestamp">{{.Timestamp}}</span></a>
            </li>
            {{end}}
        {{end}}
    </ul>
    <script>
        document.querySelectorAll(".postfile").forEach(postfile => {
            const postsrc = postfile.src;
            if (/\.(png|jpg|jpeg|gif)$/i.test(postsrc)) {
                // Image handling logic here, if necessary
            } else if (/\.(webm|mp4)$/i.test(postsrc)) {
                postfile.outerHTML = `<video controls><source src="${postsrc}" type="video/${postsrc.split('.').pop()}"></video>`;
            } else if (/\.(mp3|wav)$/i.test(postsrc)) {
                postfile.outerHTML = `<audio controls><source src="${postsrc}" type="audio/${postsrc.split('.').pop()}"></audio>`;
            } else {
                postfile.outerHTML = `<a href="${postsrc}">Download File</a>`;
            }
        });
    </script>
    
</fieldset>
    <br>
    <br>
<div id="banners">
    <img src="https://placehold.co/728x90">
</div>
    <style>
        #banners {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        #homecontainer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }
        hr {
            border: 0;
            height: 1px;
            background: #494949;
            background-image: linear-gradient(to right, #494949, #cccccc, #494949);
            width: 70%;
        }
            .subject {
        font-weight: bold;
        color: #cccccc;
    }
        #boards {
            width: 70%;
            margin: 0 auto;
            border-top: 5px solid #494949;
            border-left: 1px solid #494949;
            border-right: 1px solid #494949;
            border-bottom: 1px solid #494949;

            background-color: #1b1b1b7a;
        }

        #boards span {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        #boards ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            list-style-type: none;
            padding: 15px;
            margin: 0;
        }
        #boards li {
            margin: 0;
            padding: 0;
        }
        #boards li::before {
            content: "[";
            margin-right: 5px;
        }
        #boards li::after {
            content: "]";
            margin-left: 5px;
        }
        #boards a {
            text-decoration: none;
            color: #02ff6b;
        }
        #boards a:hover {
            color: #ffffff;
        }

        #stats {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            width: 70%;
            margin: 0 auto;
            border-top: 5px solid #494949;
            border-left: 1px solid #494949;
            border-right: 1px solid #494949;
            border-bottom: 1px solid #494949;
            background-color: #1b1b1b7a;
        }

        #latest {
            width: 70%;
            margin: 0 auto;
            border-top: 5px solid #494949;
            border-left: 1px solid #494949;
            border-right: 1px solid #494949;
            border-bottom: 1px solid #494949;
            background-color: #1b1b1b7a;
        }
        #latest ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            list-style-type: none;
            padding: 15px;
            margin: 0;
        }

        #latest li {
            margin: 0;
            padding: 0;
        }

        #latest li a {
            text-decoration: none;
            color: #02ff6b;
            height: 300px;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-top: 5px solid #494949;
            border-left: 1px solid #494949;
            border-right: 1px solid #494949;
            border-bottom: 1px solid #494949;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        #latest li a:hover {
            border-top: 5px solid #ffffff;
            border-left: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
        }

        #latest li a img {
            max-width: 200px;
            max-height: 200px;
        }

        #latest li a .subject {
            font-weight: bold;
            color: #02ff6b;
        }
        #latest li a .subject:hover {
            font-weight: bold;
            color: #ffffff;
        }


        #latest li a .subject::before {
            content: "[";
            margin-right: 5px;
            color: #AAF;
        }

        #latest li a .subject::after {
            content: "]";
            margin-left: 5px;
            color: #AAF;
        }

        #latest li a p {
            margin: 0;
            padding: 0;
            color: rgb(255, 255, 255);
        }

        #latest li a .timestamp {
            color: rgb(97, 97, 97);
            font-size: 0.8em;
        }

        #latest video {
            max-width: 300px;
            max-height: 200px;
        }

        #latest img {
            max-height: 200px;
            max-width: 200px;
        }

        #latest .recent-board {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }


        #home {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-top: 5px solid #494949;
            border-left: 1px solid #494949;
            border-right: 1px solid #494949;
            border-bottom: 1px solid #494949;
            background-color: #1b1b1b7a;
            width: 70%;
            margin: 0 auto;
            margin-top: 1.5rem;
        }
        #home p {
            margin: 0;
            padding: 0;
        }

        .data {
            font-weight: bold;
            color: rgb(170, 228, 255);
        }

    .postfile {
        max-width: 250px;
        max-height: 250px;
    }

    #minecraft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #minecraft p {
        margin: 0;
        padding: 0;
    }
    #minecraft span {
        color: rgb(170, 228, 255);
    }
    #minecraft img {
        max-width: 250px;
        max-height: 250px;
    }
    #rules {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    </style>
{{end}}