{{define "content"}}
<div id="privacy">
    <h1>Privacy Policy</h1>
    
    <h2>1. Information Collection</h2>
    <p>a. <strong>Personal Information:</strong> We may collect personal information from users in a variety of ways, including, but not limited to, when users visit our site, register on the site, and in connection with other activities, services, features, or resources we make available.</p>
    <p>b. <strong>Non-Personal Information:</strong> We may collect non-personal information about users whenever they interact with our site. Non-personal information may include the browser name, the type of computer, and technical information about users' means of connection to our site.</p>
    
    <h2>2. Web Browser Cookies</h2>
    <p>a. <strong>Our Site:</strong> Our site may use "cookies" to enhance user experience. Users may choose to set their web browser to refuse cookies or to alert them when cookies are being sent. If they do so, note that some parts of the site may not function properly.</p>
    
    <h2>3. How We Use Information</h2>
    <p>a. <strong>Personal Information:</strong> We may use personal information to improve customer service, personalize user experience, and send periodic emails. We will not sell, trade, or rent personal information to others.</p>
    <p>b. <strong>Non-Personal Information:</strong> We may use non-personal information to analyze trends, administer the site, track user movements, and gather demographic information.</p>
    
    <h2>4. Information Protection</h2>
    <p>a. <strong>Data Security:</strong> We adopt appropriate data collection, storage, and processing practices and security measures to protect against unauthorized access, alteration, disclosure, or destruction of personal information and data stored on our site.</p>
    
    <h2>5. Sharing Personal Information</h2>
    <p>a. <strong>Third Party Services:</strong> We do not sell, trade, or rent personal information to others. We may share generic aggregated demographic information not linked to any personal information regarding visitors and users with our business partners, trusted affiliates, and advertisers.</p>
    
    <h2>6. Changes to Privacy Policy</h2>
    <p>a. <strong>Updates:</strong> We have the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect.</p>
    
</div>
<style>
    #privacy {
        border-top: 5px solid #494949;
        border-left: 1px solid #494949;
        border-right: 1px solid #494949;
        border-bottom: 1px solid #494949;

        background-color: #1b1b1b7a;
        margin: 0 auto;
        padding: 20px;
        width: 80%;
        color: white;
        text-align: left;
    }
    h1 {
        color: #38a5ee;
    }
    h2 {
        color: #38a5ee;
    }
    p {
        color: white;
    }
</style>

{{end}}