{{define "content"}}

<fieldset id="register">
    <legend>Register</legend>
    <span>All usernames and passwords are randomly generated.</span>
    <span>All accounts will be deleted after 30days of inactivity.</span>
    <span>If you would like a permanent account, you can purchase one <a href="/store">here</a>.</span>
    <div id="username">Username: ...</div>
    <div id="password">Password: ...</div>
    <a href="#" onclick="Register()">Register</a>
    <script>
        const usrdiv = document.getElementById('username');
        const pwddiv = document.getElementById('password');
        const Register = async () => {
            const response = await fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            });
            const r = await response.json();
            if (r.error) {
                usrdiv.innerHTML = '';
                pwddiv.innerHTML = '';
                usrdiv.innerHTML = r.error;
            } else {
                usrdiv.innerHTML = '';
                pwddiv.innerHTML = '';
                usrdiv.innerHTML = `Username: ${r.username}`;
                pwddiv.innerHTML = `Password: ${r.password}`;
            }
        };
    </script>
</fieldset>
    <style>
        
        #register {
            width: 50%;
            margin: 0 auto;
            margin-top: 1.7rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #register span {
            margin: 10px 0;
            color: #ffffff;
        }
        #register a {
            text-align: center;
        color: #02ff6b;
    }

    #register a:hover {
        color: #ffffffff;
    }

    #register a::before {
        content: "[";
        margin-right: 5px;
        color: #AAF;
    }

    #register a::after {
        content: "]";
        margin-left: 5px;
        color: #AAF;
    }

    #username, #password {
        color: #ffffff;
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        text-align: center;
    }
    </style>
    {{end}}