{{define "content"}}
<fieldset id="store">
    <legend>Store</legend>
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
      kofiWidgetOverlay.draw('sevensrequiem', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Donate',
        'floating-chat.donateButton.background-color': '#00b9fe',
        'floating-chat.donateButton.text-color': '#fff'
      });
    </script>
</fieldset>
<style>
    #store {
        width: 50%;
        margin: 0 auto;
        margin-top: 1.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #store a {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    #store a:hover {
        background-color: #45a049;
    }

    #store span {
        margin: 0.5rem 0;
    }

    

</style>
{{end}}