{{define "content"}}

<div class="content-wrapper">


    <div class="banners">
        <img src="https://placehold.co/728x90">
    </div>

    <hr>
    <a href="#" onclick="loadForm(); return false;" class="createpost">Post a Reply</a>
    <hr>
     <div class="container">
        <meta charset="UTF-8" id="selfposts" content="{{.SelfPosts}}">
        <div id="threadcontainer">
        </div>
        <div id="posts">
        </div>
        </div>
        <script>
            const threadid = "{{.ThreadID}}";
            const boardid = "{{.BoardID}}";
            const threadapi = `/api/board/${boardid}/thread/${threadid}`;
            axios.get(threadapi)
                .then(response => {
                    const thread = response.data;
                    const threadcontainer = document.getElementById('threadcontainer');
                    const post = document.createElement('div');
                    content = marked.parse(thread.Content);
                    const threadTimestamp = new Date(thread.Timestamp * 1000).toLocaleString("en-US")
                    post.innerHTML = `
                        <fieldset id="thread">
                            <legend>
                                <span class="author">${thread.Author}</span>
                                <span class="postnumber">No. ${thread.PostNumber}</span>
                                <span class="subject">${thread.Subject}</span>
                                <a href="#${thread.ThreadID}" class="postid">#${thread.ThreadID}</a>
                                <span class="timestamp">${threadTimestamp}</span>
                                {{if or .IsAdmin .IsModerator .IsJanny}}
                                <span>|</span>
                                <a href="#" onclick="banIP('${thread.IP}'); return false;" class="mod">${thread.IP}</a>
                                <a href="#" onclick="deleteThread('${thread.ThreadID}'); return false;" class="mod">Delete</a>
                                {{end}}
                            </legend>
                            <img class="postfile" src="/image/${thread.BoardID}/${thread.Image}" alt="File">
                            <p class="content">${content}</p>
                        </fieldset>
                    `;
                    threadcontainer.appendChild(post);
                    // for thread.posts
                    const posts = document.getElementById('posts');
                    thread.Posts.slice(1).forEach(post => {
                        const postElement = document.createElement('div');
                        content = marked.parse(post.Content);
                        const postTimestamp = new Date(post.Timestamp * 1000).toLocaleString("en-US")
                        postElement.innerHTML = `
                            <fieldset class="post">
                                <legend>
                                    <span class="author">${post.Author}</span>
                                    <span>No. ${post.PostNumber}</span>
                                    <a href="#${post.PostID}" class="replyquote">#${post.PostID}</a>
                                    <span class="timestamp">${postTimestamp}</span>
                                    {{if or .IsAdmin .IsModerator .IsJanny}}
                                    <span>|</span>
                                    <a href="#" onclick="banIP(${post.IP}); return false;" class="mod">${post.IP}</a>
                                    <a href="#" onclick="deletePost('${post.ParentID}', '${post.PostID}'); return false;" class="mod">Delete</a>
                                    {{end}}
                                </legend>
                                ${post.Image ? `<img class="postfile" src="/image/${post.BoardID}/${post.Image}" alt="File">` : ''}
                                <p class="content">${content}</p>
                            </fieldset>
                        `;
            
                        posts.appendChild(postElement);
                    });
                })

                {{if or .IsAdmin .IsModerator .IsJanny}}
                function banIP(ip) {
    const reason = prompt("Enter the reason for banning this IP:");
    if (reason === null) {
        return;
    }
    const confirmBan = confirm(`Are you sure you want to ban IP: ${ip} for the following reason?\n\n${reason}`);
    if (!confirmBan) {
        return;
    }

    const formdata = new FormData();
    formdata.append('ip', ip);
    formdata.append('reason', reason);

    axios.post('/api/ban', formdata)
        .then(response => {
            console.log(response);
        })
        .catch(error => {
            console.error(error);
        });
}

                function deletePost(threadID, postID) {
                    axios.delete(`/board/${boardid}/${threadID}/${postID}`)
                        .then(response => {
                            console.log(response);
                        })
                        .catch(error => {
                            console.error(error);
                        });
                }

                function deleteThread(ThreadID) {
                    axios.delete(`/board/${boardid}/${ThreadID}`)
                        .then(response => {
                            console.log(response);
                        })
                        .catch(error => {
                            console.error(error);
                        });
                }
                {{end}}

        </script>
        </div>
        <hr>
        <a href="#" onclick="loadForm(); return false;" class="createpost">Post a Reply</a>
        <hr>
        <fieldset class="reply">
            <legend>Reply</legend>
            <form id="postform">
                <input type="text" id="boardID" name="b" value="{{.BoardID}}" hidden><br><br>
                <label for="author">Username:</label>
                <input type="text" id="author" name="author" value="Anonymous" required><br><br>
                <label for="content">Post:</label>
                <textarea id="formcontent" name="content" maxlength="500"></textarea><br><br>
                <div id="charCount">500 characters remaining</div>
                <label for="isAnonymous">Anon:</label>
                <input type="checkbox" id="isAnonymous" name="isAnonymous"><br><br>
                <label for="image">Image:</label>
                <input type="file" id="image" name="image" accept="image/*"><br><br>
                <a href="#" id="submitpost">Submit</a>
            </form>
            
            <script>
            document.getElementById('submitpost').addEventListener('click', function(event) {
                event.preventDefault();
            
                const form = document.getElementById('postform');
                const formData = new FormData(form);
            
                axios.post(`/post/{{.BoardID}}/{{.ThreadID}}`, formData)
                    .then(response => {
                        console.log('Post submitted successfully:', response.data);
                        if (response.data === "Post created") {
                            window.location.reload();
                        }
                    })
                    .catch(error => {
                        console.error('Error submitting post:', error);
                    });
            });
            </script>
        </fieldset>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const formcontent = document.getElementById('formcontent');
                if (formcontent) {
                    const maxLength = formcontent.getAttribute('maxlength');
                    formcontent.addEventListener('input', function() {
                        const currentLength = formcontent.value.length;
                        const remainingChars = maxLength - currentLength;
                        document.getElementById('charCount').innerText = `${remainingChars} characters remaining`;
                    });
                } else {
                    console.error('Element with ID "formcontent" not found.');
                }
            });

        </script>
             <div class="banners">
                <img src="https://placehold.co/728x90">
            </div>
    </div>

<script>
    function loadForm() {
        const form = document.querySelector('.reply');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    }
</script>
</div>
<div id="cirno">
    <img src="/assets/cirno.png" alt="Cirno">
</div>
<style>
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        margin-top: 1.5rem;
    }

    .banners {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }

    .banners img {
        max-width: 100%;
        max-height: 150px;
        margin: 20px;
    }


    #thread {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        word-break: break-all;
        border-top: 5px solid #494949;
        border-left: 1px solid #494949;
        border-right: 1px solid #494949;
        border-bottom: 1px solid #494949;

        background-color: #1b1b1b7a;

    }
    #thread .postcontent {
        
        padding: 10px;
    }
    #thread img {
        max-width: 400px;
        max-height: 400px;
        margin-right: 10px;
    }
    .post {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        word-break: break-all;
        border-top: 5px solid #494949;
        border-left: 1px solid #494949;
        border-right: 1px solid #494949;
        border-bottom: 1px solid #494949;

        background-color: #1b1b1b7a;
        width: 100%;
        min-height: 100px;
    }
    .post a:hover {
        color: #FFF;
    }
    .post img {
        max-width: 250px;
        max-height: 250px;
        margin-right: 10px;
    }
    .post video {
        max-width: 250px;
        max-height: 250px;
    }
    .post p {
        margin: 10px;
    }
    
    .createpost {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        width: 200px;
        text-align: center;
        padding: 10px;
        background-color: #494949;
        border: 1px solid #1a1a1a;
        text-decoration: none;
    }
    .createpost:hover {
        background-color: #1a1a1a;
    }
    
    #cirno {
        position: fixed;
        bottom: 0;
        right: 0;
    }
    #cirno img {
        max-width: 100px;
        max-height: 100px;
    }
    .mod {
        color: rgb(255, 0, 0);
        text-decoration: none;
    }
    hr {
        border: 1px solid #494949;
        width: 100%;
    }

    .replyquote {
        color: rgb(6, 255, 243);
    }
    .replyquote a {
        color: rgb(6, 255, 243);
        text-decoration: none;
    }

    .postcontent {
        padding: 10px;
    }

    .file {
        color: #055685;
    }

    .subject {
        color: #73ff00;
    }

    .votes {
        color: #6b6b6b;
    }

    .votes a {
        color: #00e1ff;
        text-decoration: none;
    }

    video {
        max-width: 400px;
        max-height: 250px;
    }

    img {
        max-width: 400px;
        max-height: 400px;
    }

    .author {
        color: #ffffff;
    }

    .author::before {
        content: '[ ';
        color: #aaf;
    }

    .author::after {
        content: ' ]';
        color: #aaf;
    }

    .timestamp {
        color: #8a8a8a;
    }

    .postid {
        color: #ff00ff;
    }
</style>
{{end}}