{{define "content"}}

<div class="content-wrapper">

    <div class="banners">
    <div id="banner">
        <img src="/banner/{{.BoardID}}/{{.Banner}}" alt="Banner">
    </div>
    </div>
    <hr>
    <a href="#" onclick="loadForm(); return false;" class="createpost">Post a Reply</a>
    <hr>
    <div class="container">
        <fieldset id="thread">
            <legend>{{.Thread.Author}} // {{.Thread.Subject}} - {{.Thread.BoardID}}/{{.Thread.ThreadID}} @
                {{.Thread.Timestamp}}{{if .Thread.ImageURL}} <span>File: {{.Thread.ImageURL}}</span>{{end}}{{if .IsAdmin}}<a class="mod" href="#" onclick="deleteThread()">Delete Thread</a>|<a class="mod"
                href="https://whatismyipaddress.com/ip/{{.Thread.IP}}" target="_blank">{{.Thread.IP}}</a>{{else if .IsJanny}}<a class="mod" href="#" onclick="deleteThread()">Delete Thread</a>|<a class="mod"
                href="https://whatismyipaddress.com/ip/{{.Thread.IP}}" target="_blank">{{.Thread.IP}}</a>{{end}}</legend>
            {{if .Thread.ImageURL}}
            <img src="/file/{{.BoardID}}/{{.Thread.ImageURL}}" alt="Image" id="threadfile">
            {{end}}
            <p class="postcontent">{{.Thread.Content}}</p>
                <script>
                    const threadfile = document.getElementById("threadfile");
                    const srcurl = threadfile.src;
                    if (/\.(png|jpg|jpeg|gif)$/i.test(srcurl)) {
                    } else if (/\.(webm|mp4)$/i.test(srcurl)) {
                        threadfile.outerHTML = `<video controls><source src="${srcurl}" type="video/${srcurl.split('.').pop()}"></video>`;
                    } else if (/\.(mp3|wav)$/i.test(srcurl)) {
                        threadfile.outerHTML = `<audio controls><source src="${srcurl}" type="audio/${srcurl.split('.').pop()}"></audio>`;
                    } else {
                        threadfile.outerHTML = `<a href="${srcurl}">Download File</a>`;
                    }
                </script>
        </fieldset>
        {{if .IsAdmin}}
        <script>
            const url = "/admin/delete/{{.Thread.BoardID}}/{{.Thread.ThreadID}}";
            const threadid = {{.Thread.ThreadID }};
            const boardid = {{.Thread.BoardID }};
            const deleteThread = async () => {
                const response = await fetch(url, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ threadid, boardid })
                });
                if (response.ok) {
                    window.location.href = "/board/{{.Thread.BoardID}}";
                }
            }
        </script>
        {{else if .IsJanny }}
        <script>
            const url = "/janny/delete/{{.Thread.BoardID}}/{{.Thread.ThreadID}}";
            const threadid = {{.Thread.ThreadID }};
            const boardid = {{.Thread.BoardID }};
            const deleteThread = async () => {
                const response = await fetch(url, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ threadid, boardid })
                });
                if (response.ok) {
                    window.location.href = "/board/{{.Thread.BoardID}}";
                }
            }
        </script>
        {{end}}
        <div id="posts">
            {{if .IsAdmin}}
            <script>
                // Assuming BoardID and ThreadID are available in the template's root object
                const boardID = "{{.BoardID}}";
                const threadID = "{{.ThreadID}}";
                const deletePost = async (postid) => {
                    const url = `/admin/delete/${boardID}/${threadID}/` + postid;
                    const response = await fetch(url, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    });
                    if (response.ok) {
                        window.location.reload();
                    }
                }
            </script>
            {{else if .IsJanny}}
            <script>
                // Assuming BoardID and ThreadID are available in the template's root object
                const boardID = "{{.BoardID}}";
                const threadID = "{{.ThreadID}}";
                const deletePost = async (postid) => {
                    const url = `/janny/delete/${boardID}/${threadID}/` + postid;
                    const response = await fetch(url, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    });
                    if (response.ok) {
                        window.location.reload();
                    }
                }
            </script>

            {{range .Posts}}
            <fieldset class="post">
                <legend><span>{{.PostID}}</span> <span>{{.Author}}</span> <span>{{.Timestamp}}</span>{{if .ImageURL}} <span>File: {{.ImageURL}}</span>{{end}}
                    <a class="mod" href="#" onclick="deletePost('{{.PostID}}')">Delete Post</a> |
                    <a class="mod" href="https://whatismyipaddress.com/ip/{{.IP}}" target="_blank">{{.IP}}</a>
                </legend>
                {{if .ImageURL}}
                <img src="/file/{{.BoardID}}/{{.ImageURL}}" alt="Post Image" class="postfile">
                {{end}}
                <p class="postcontent">{{.Content}}</p>

            </fieldset>
            {{end}}
            {{else if .IsJanny}}
            {{range .Posts}}
            <fieldset class="post">
                <legend><span>{{.PostID}}</span> <span>{{.Author}}</span> <span>{{.Timestamp}}</span>{{if .ImageURL}} <span>File: {{.ImageURL}}</span>{{end}}
                    <a class="mod" href="#" onclick="deletePost('{{.PostID}}')">Delete Post</a> |
                    <a class="mod" href="https://whatismyipaddress.com/ip/{{.IP}}" target="_blank">{{.IP}}</a>
                </legend>
                {{if .ImageURL}}
                <img src="/file/{{.BoardID}}/{{.ImageURL}}" alt="Post Image" class="postfile">
                {{end}}
                <p class="postcontent">{{.Content}}</p>
            </fieldset>
            {{end}}
            {{else}}
            {{range .Posts}}
            <fieldset class="post">
                <legend><span><a href="#" onclick="replyTo('{{.PostID}}');">#{{.PostID}}</a></span> <span>{{.Author}}</span> <span>{{.Timestamp}}</span>{{if .ImageURL}} <span>File: {{.ImageURL}}</span>{{end}}</legend>
                {{if .ImageURL}}
                <img src="/file/{{.BoardID}}/{{.ImageURL}}" alt="Post Image" class="postfile">
                {{end}}
                <p class="postcontent">{{.Content}}</p>
            </fieldset>
            {{end}}
            {{end}}
            <script>
                document.querySelectorAll(".postfile").forEach(postfile => {
                    const postsrc = postfile.src;
                    if (/\.(png|jpg|jpeg|gif)$/i.test(postsrc)) {
                        // Image handling logic here, if necessary
                    } else if (/\.(webm|mp4)$/i.test(postsrc)) {
                        postfile.outerHTML = `<video controls><source src="${postsrc}" type="video/${postsrc.split('.').pop()}"></video>`;
                    } else if (/\.(mp3|wav)$/i.test(postsrc)) {
                        postfile.outerHTML = `<audio controls><source src="${postsrc}" type="audio/${postsrc.split('.').pop()}"></audio>`;
                    } else {
                        postfile.outerHTML = `<a href="${postsrc}">Download File</a>`;
                    }
                });
            </script>
        </div>
        <hr>
        <a href="#" onclick="loadForm(); return false;" class="createpost">Post a Reply</a>
        <hr>
        <fieldset class="reply">
            <legend>Reply</legend>
            <form action="/board/{{.Thread.BoardID}}/{{.Thread.ThreadID}}" method="post" enctype="multipart/form-data">
                <input type="text" id="boardID" name="b" value="{{.BoardID}}" hidden><br><br>
                <label for="author">Username:</label>
                <input type="text" id="author" name="author" value="Anonymous" required><br><br>
                <label for="content">Post:</label>
                <textarea id="formcontent" name="content" required></textarea><br><br>
                <label for="image">Image:</label>
                <input type="file" id="image" name="image" accept="image/*"><br><br>
                <button type="submit">Submit Post</button>
            </form>
        </fieldset>
    </div>
    <script>

          document.addEventListener("DOMContentLoaded", function() {
            const postContents = document.getElementsByClassName('postcontent');
            for (let i = 0; i < postContents.length; i++) {
              postContents[i].innerHTML = marked.parse(postContents[i].innerHTML);
            }
          });
 </script>
</div>
<div id="cirno">
    <img src="/assets/cirno.png" alt="Cirno">
</div>
<style>
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        margin-top: 1.5rem;
    }

    .banners {
margin: 0 auto;
width: 100%;
margin-top: 2rem;
margin-bottom: 2rem;
    }


    #thread {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        word-break: break-all;
        border-top: 5px solid #494949;
        border-left: 1px solid #494949;
        border-right: 1px solid #494949;
        border-bottom: 1px solid #494949;

        background-color: #1b1b1b7a;

    }
    #thread img {
        max-width: 400px;
        max-height: 400px;
    }
    .post {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        word-break: break-all;
        border-top: 5px solid #494949;
        border-left: 1px solid #494949;
        border-right: 1px solid #494949;
        border-bottom: 1px solid #494949;

        background-color: #1b1b1b7a;
        width: 100%;
        min-height: 100px;
    }
    .post a:hover {
        color: #FFF;
    }
    .post img {
        max-width: 250px;
        max-height: 250px;
    }
    .post video {
        max-width: 250px;
        max-height: 250px;
    }
    .post p {
        margin: 10px;
    }
    
    .createpost {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        width: 200px;
        text-align: center;
        padding: 10px;
        background-color: #494949;
        border: 1px solid #1a1a1a;
        color: #AAF;
        text-decoration: none;
    }
    .createpost:hover {
        background-color: #1a1a1a;
    }
    
    #cirno {
        position: fixed;
        bottom: 0;
        right: 0;
    }
    #cirno img {
        max-width: 100px;
        max-height: 100px;
    }
    .mod {
        color: rgb(255, 0, 0);
        text-decoration: none;
    }
    hr {
        border: 1px solid #494949;
        width: 100%;
    }
</style>
<script>
    const loadForm = () => {
        const form = document.querySelector('.reply');
        if (form.style.display === 'flex') {
            form.style.display = 'none';
        } else {
            form.style.display = 'flex';
        }
    }

    const openForm = () => {
        const form = document.querySelector('.reply');
        form.style.display = 'flex';
    }

    // find and replace html codes with actual characters
    const postcontent = document.querySelectorAll('.postcontent');
    postcontent.forEach(post => {
        post.innerHTML = post.innerHTML.replace(/&gt;/g, '>');
        post.innerHTML = post.innerHTML.replace(/&lt;/g, '<');
        post.innerHTML = post.innerHTML.replace(/&quot;/g, '"');
        post.innerHTML = post.innerHTML.replace(/&amp;/g, '&');
    });

    const replyTo = (postid) => {
        openForm();
        const content = document.getElementById('formcontent');
        content.value = `>>${postid}\n`;
        content.focus();
    }

    //draggable reply form
    const reply = document.querySelector('.reply');
    let isDown = false;
    let offset = [0, 0];
    let currentPos = {
        x: 0,
        y: 0
    };

    reply.addEventListener('mousedown', (e) => {
        isDown = true;
        offset = [
            reply.offsetLeft - e.clientX,
            reply.offsetTop - e.clientY
        ];
    }, true);

    document.addEventListener('mouseup', () => {
        isDown = false;
    }, true);

    document.addEventListener('mousemove', (event) => {
        event.preventDefault();
        if (isDown) {
            currentPos.x = event.clientX;
            currentPos.y = event.clientY;
            reply.style.left = (currentPos.x + offset[0]) + 'px';
            reply.style.top = (currentPos.y + offset[1]) + 'px';
        }
    }, true);

    // markdown rendering
    document.addEventListener("DOMContentLoaded", function() {
        const postContents = document.getElementsByClassName('postcontent');
        for (let i = 0; i < postContents.length; i++) {
            postContents[i].innerHTML = marked.parse(postContents[i].innerHTML);
        }
    });
</script>
{{end}}