{{define "page"}}
<div id="admin-content">
    <div class="info">
        <h2>System Info</h2>
        <div class="info-content">
            <div class="info-card">
                <p><strong>Current Working Directory:</strong> {{.System.CurrentWorkingDirectory}}</p>
                <p><strong>User Home Directory:</strong> {{.System.UserHomeDirectory}}</p>
                <p><strong>Hostname:</strong> {{.System.Hostname}}</p>
                <p><strong>System Architecture:</strong> {{.System.SystemArchitecture}}</p>
                <p><strong>Number of CPUs:</strong> {{.System.NumCPU}}</p>
                <p><strong>Memory:</strong> {{.System.Memory}} <span>GB</span></p>
                <p><strong>HDD:</strong> {{.System.HDD}} <span>GB</span></p>
                <p><strong>Operating System:</strong> {{.System.OperatingSystem}}</p>
                <p><strong>Go Version:</strong> {{.System.GoVersion}}</p>
                <p><strong>Go Root Directory:</strong> {{.System.GoRootDirectory}}</p>
            </div>
            <hr>
            <h2>achan info</h2>
            <div class="info-card">
                <p><strong>Build Hash:</strong> {{.Achan.BuiltHash}}</p>
                <p><strong>Build Date:</strong> {{.Achan.BuiltDate}}</p>
                <p><strong>Current Hash:</strong> {{.Achan.CurrentHash}}</p>
                <p><strong>Version:</strong> {{.Achan.Version}}</p>
                <p><strong>Build OS:</strong> {{.Achan.BuildOS}}</p>
                <p><strong>Build Arch:</strong> {{.Achan.BuildArch}}</p>
            </div>
    </div>
</div>
</div>
<style>
    .info-card {
        display: flex;
        flex-direction: column;

    }
    .info-card p {
        color: #00ff2a;
        margin: 0;
        padding: 5px;
        border-bottom: 1px solid #ccc;
    }

    .info-card strong {
        color: #ffffff;
    }

    .info-card span {
        color: #ffffff;
    }
    .info-card p:last-child {
        border-bottom: none;
    }

    .info-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info h2 {
        margin: 0;
        padding: 10px;
        background-color: #f1f1f1;
        border-bottom: 1px solid #ccc;
        width: 100%;
        text-align: center;
    }

</style>
{{end}}