:root {
  --green: #02ff6b;
  --text-main: #d0d0d0;
  --text-secondary: #aaf;
  --text-tertiary: #8a8a8a;
  --text-highlight: #ff00ff;
  --text-highlight2: #ffd000;
  --text-highlight3: #ff0000;
  --text-highlight4: #00ffff;
  --file: #ff00ff;
  --subject: #ff0000;
  --bg: #2525257a;
  --bg-hover: #414141;
  --bg2: rgb(26, 26, 26);;
  --border: rgba(48, 48, 48, 0.555);
  
}
@font-face {
  font-family: "gohu";
  src: url(/assets/fonts/gohu.ttf);
}
@font-face {
  font-family: "pix";
  src: url(/assets/fonts/pix.ttf);
}
@keyframes rainbow {
  12.5%,
  100% {
    color: #d43030;
  }
  25% {
    color: #d87a00;
  }
  37.5% {
    color: #e4c900;
  }
  50% {
    color: #37bc37;
  }
  62.5% {
    color: #4343c6;
  }
  75% {
    color: #9b1cf5;
  }
  87.5% {
    color: #b902b9;
  }
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

* a {
  text-decoration: none;
  color: var(--green);
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: var(--text-main);
  font-family: gohu;
  font-size: 1em;
  z-index: -10;
}
body {
  display: grid;
  grid-template-areas: 
  "header header header" 
  "announcebar announcebar announcebar"
  "content content content"
  "footer footer footer";
  grid-template-rows: 2fr 1fr 555fr 1fr;
  grid-template-columns: 1fr 50fr 1fr;
}
header {
  grid-area: header;
  font-family: pix !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  z-index: 2;
  font-weight: 700;
  text-align: center;
  color: var(--text-secondary);
}

#announcebar {
  grid-area: announcebar;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg);
  border-style: solid;
  border-width: 1px;
  border-color: var(--border);
  font-size: 0.9em;
  z-index: 9999;
}
#content {
  grid-area: content;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: wrap;
  z-index: 2;
}
footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg);

  border-style: solid;
  border-width: 1px;
  border-color: var(--border);
  font-size: 0.7em;
  z-index: 2;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

.reply {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  border-top: 5px solid  var(--border);
  border-left: 1px solid  var(--border);
  border-right: 1px solid  var(--border);
  border-bottom: 1px solid  var(--border);

  background-color: var(--bg);
  width: 400px;
  margin: 0 auto;
  z-index: 55;
}
form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
  background-color: var(--bg);
}
form label {
  color: var(--text-secondary);
  font-size: 1.2em;
  margin: 0 auto;
  padding: 0 5px;
  text-align: center;
  width: 50%;
}
form input {
  background-color: var(--bg2);
  color: var(--text-secondary);
  border: 1px solid var(--border);
  padding: 0 5px;
  margin: 0 auto;
  height: 60px;

}
form textarea {
  background-color: var(--bg2);
  color: var(--text-secondary);
  border: 1px solid var(--border);
}
form button {
  background-color: #00000000;
  color: var(--green);
  font-size: 1.2em;
  width: 50%;
  margin: 0 auto;
  border: 0;
}

form button::before {
  content: "[ ";
  color: var(--text-secondary);
  font-size: 0.8em;
}
form button::after {
  content: " ]";
  color: var(--text-secondary);
  font-size: 0.8em;
}
form button:hover {
  color: var(--text-main);
  transition: all 0.3s ease-in-out;
}
#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}
#banner img {
  width: 500px;
  height: 100px;
}

#bannerad {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

#bannerad img {
  width: 300px;
  height: 70px;
}
#staticbg {
  background-image: url("/assets/static.gif");
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

#staticbg {
  background-image: url("/assets/static.gif");
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

#staticoverlay {
  background:  #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.85;
}

.spacer1 {
  width: 1px;
  height: 7px;
  background-color: var(--text-secondary);
  display: inline-block;
  margin: 0 1px;
}