@font-face {
  font-family: vector;
  src: url(/assets/fonts/TerminalVector.ttf);
}
@font-face {
  font-family: monocraft;
  src: url(/assets/fonts/Monocraft.otf);
}
@keyframes rainbow {
  12.5%,
  100% {
    color: #d43030;
  }
  25% {
    color: #d87a00;
  }
  37.5% {
    color: #e4c900;
  }
  50% {
    color: #37bc37;
  }
  62.5% {
    color: #4343c6;
  }
  75% {
    color: #9b1cf5;
  }
  87.5% {
    color: #b902b9;
  }
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

* a {
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #cccccc;
  font-family: monocraft;
  font-size: 1em;
  z-index: -10;
}
body {
  display: grid;
  grid-template-areas: "header header" 
  "content content" 
  "footer footer";
  grid-template-rows: 1fr 555fr 1fr;
  grid-template-columns: 1fr 50fr;
}
header {
  position: relative;
  grid-area: header;
  display: flex;
  flex-direction: row;
  background-color: #303030c7;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(44, 70, 95, 0.555);
  z-index: 2;
}

header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #00b7ff, #1eff00);
  animation: rainbow 7s infinite;
}
@keyframes rainbow {
  0% {
    background-image: linear-gradient(to right, #00b7ff, #1eff00);
  }
  12.5% {
    background-image: linear-gradient(to right, #d43030, #d43030);
  }
  25% {
    background-image: linear-gradient(to right, #d87a00, #d87a00);
  }
  37.5% {
    background-image: linear-gradient(to right, #e4c900, #e4c900);
  }
  50% {
    background-image: linear-gradient(to right, #37bc37, #37bc37);
  }
  62.5% {
    background-image: linear-gradient(to right, #4343c6, #4343c6);
  }
  75% {
    background-image: linear-gradient(to right, #9b1cf5, #9b1cf5);
  }
  87.5% {
    background-image: linear-gradient(to right, #b902b9, #b902b9);
  }
  100% {
    background-image: linear-gradient(to right, #00b7ff, #1eff00);
  }
}
header #logo {
  color: #000000;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 5px #00b7ff, 0 0 10px #00b7ff, 0 0 15px #00b7ff, 0 0 20px #00b7ff, 0 0 25px #00b7ff, 0 0 30px #00b7ff, 0 0 35px #00b7ff;
}
header #subtitle {
  font-size: 0.7em;
  font-weight: 700;
  text-align: center;
}
header #tagline {
  font-size: 0.7em;
  font-weight: 700;
  text-align: center;
  margin-left: 10px;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 10px;
}
header nav #boardnav {
  font-size: 0.7em;
  font-weight: 700;
  text-align: center;
  margin-left: 10px;
}
header nav #boardnav::before {
  content: "[";
  color: #AAF;
}
header nav #boardnav::after {
  content: "]";
  color: #AAF;
}
header nav #mainnav {
  font-size: 0.7em;
  font-weight: 700;
  text-align: center;
  margin-right: auto;
}
header nav #mainnav::before {
  content: "[";
  color: #AAF;
}
header nav #mainnav::after {
  content: "]";
  color: #AAF;
}
header a {
  text-decoration: none;
  color: #02ff6b;
}
header a:hover {
  color: #ffffff;
}
header #search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
header #search form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
header #search input {
  background-color: #1b1b1b7a;
  color: #AAF;
  border: 1px solid #494949;
  margin: 0 auto;
  height: 100%;
}
header #search button {
  background-color: #494949;
  color: rgb(26, 26, 26);
  border: 1px solid #494949;
  margin: 0 auto;
}
header #search button:hover {
  background-color: #1b1b1b7a;
}
header #search button:active {
  background-color: #1b1b1b7a;
}
header #search button:focus {
  background-color: #1b1b1b7a;
}
#content {
  grid-area: content;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: wrap;
  z-index: 2;
}
footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #303030c7;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(97, 97, 97, 0.555);
  font-size: 0.7em;
  z-index: 2;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}
.achantitle {
  animation: rainbow 7s infinite;
}

.reply {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  border-top: 5px solid #1b1b1b7a;
  border-left: 1px solid #1b1b1b7a;
  border-right: 1px solid #1b1b1b7a;
  border-bottom: 1px solid #1b1b1b7a;

  background-color: #1b1b1b7a;
  width: 400px;
  margin: 0 auto;
  z-index: 55;
}
form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
  background-color: #1b1b1b7a;
}
form label {
  color: #AAF;
  font-size: 1.2em;
  margin: 0 auto;
  padding: 0 5px;
  text-align: center;
  width: 50%;
}
form input {
  background-color: rgb(26, 26, 26);
  color: #AAF;
  border: 1px solid #494949;
  padding: 0 5px;
  margin: 0 auto;
  height: 60px;

}
form textarea {
  background-color: rgb(26, 26, 26);
  color: #AAF;
  border: 1px solid #494949;
}
form button {
  background-color: #494949;
  color: rgb(26, 26, 26);
  border: 1px solid #494949;
  width: 50%;
  margin: 0 auto;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}
#banner img {
  width: 500px;
  height: 100px;
}

#bannerad {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

#bannerad img {
  width: 300px;
  height: 70px;
}

.createpost {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 20%;
  text-align: center;
  padding: 10px;
  background-color: #0245647a;
  border: 1px solid #1a1a1a;
  color: #AAF;
  text-decoration: none;
}
